/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #092D74;
  --vp-c-brand-light: #2E5EAE;
  --vp-c-brand-lighter: #DFCCE4;
  --vp-c-brand-lightest: #F2EDF7;
  --vp-c-brand-dark: #CF152D;
  --vp-c-brand-darker: #B01126;
  --vp-c-brand-dimm: rgba(9, 45, 116, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: #CF152D;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: #CF152D;
  --vp-button-brand-hover-border: #EF3832;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: #EF3832;
  --vp-button-brand-active-border: #CF152D;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
